.main-container {
  width: 60vw;
  margin: auto;
  margin-top: 7%;
  text-align: center;
}
.text-container {
  justify-content: center;
  border-bottom: 3px;
  width: 60vw;
  padding: 0px;
  margin: 0px;
  color: #313638;
}

.title {
  padding: 0px;
  margin: 0px;
  color: #313638;
  font-size: 5vh;  
  font-size: large;
  font-family: "Fredoka One", cursive;
  font-size: 5vh;  
}

hr {
  margin: 30px 0;
  height: 4px;
  border: none;
  color: #3599E6;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, #3599E6)
  );
}

.button-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-button {
  align-items: center;
  border: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 102, 255, 0.2) 0 15px 30px -5px;
  color: black;
  display: flex;
  font-family: "Fredoka One", cursive;
  font-size: 2vh;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  margin: 10px;
}

.main-button span {
  background-color: white;
  padding: 6px 12px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  padding: 10px 15px;
}

.main-button:hover {
  background-image: linear-gradient(144deg, #3599E6, #AC61DF);
  color: white;
}

.main-button:hover span {
  background-color: #313638;
}

/* Animation arrow-> */
.arrow-down {
  width: 60px;
  height: 30px;
  position: relative;
  left: 50%;
  bottom: 0px;
  animation: arrow 0.7s .1s infinite ease-out alternate;
  margin-top: 20px;
  display: none;
}

.left {
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
  position: absolute;
  height: 10px;
  width: 30px;
  background: linear-gradient(90deg, #33ccff 0%, #ff99cc 100%);
  transform: rotate(225deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
}

.right {
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
  position: absolute;
  height: 10px;
  width: 30px;
  background: linear-gradient(-90deg, rgb(207, 138, 207), rgb(46, 190, 142));
  transform: rotate(-45deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
}

@keyframes arrow {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

/* Content Container */
.content-container {
  border: solid 2px purple;
  margin-top: 2.7vh;
  display: none;
}