body {
  background-color: rgb(27, 33, 39);
  display: block;
}

.header-bar {
  background-color: white;
  margin-top: 2vw;
  width: 80vw;
  max-width: 700px;
  height: 6vh;
  margin: auto;
  margin-top: 2%;
  display: flex;
  padding: .2em;
  border-radius: 8px;
}

.header-bar > .header-left{
width: 15%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-right: solid 2px black;
border-radius: 2px;
}
.header-bar > .header-right{
width: 85%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.h-btn{
  width: 85%;
  height: 85%;
  font-size: 3.5vh;
  font-family: Lato, sans-serif;
  letter-spacing: 1px;
  justify-content: center;
  margin: 1%;
  border: 0;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 3px solid black;
  transition: 300ms;
}
.h-btn span {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-btn:hover {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  border:none;
  transition: 300ms;
}
.h-btn:hover span {
  background-color: rgb(33, 37, 66);
    transition: 300ms;
}

.m-btn{
  width: 85%;
  height: 85%;
  font-size: 3.5vh;
  font-family: "Fredoka One", cursive;
  letter-spacing: 1px;
  justify-content: center;
  font-size: 13px;
  margin: 1%;
}

.content-box {

  justify-self: center;
  max-width: 125vh;
  margin: auto;
  margin-top: vh;
}


.title-box{
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 20vh;
}

.title-box p {
  font-family: "Fredoka One", cursive;
  color: rgb(255, 255, 255);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0.7em;
  font-size: 7vh;
  line-height: .5rem
}

.subtitle-box {
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #9e9e9e;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0px  15vh;
  margin-block-start: 1em;
  margin-block-end: 0.7em;
  font-size: 1.7vh;
  border-bottom: 2px solid #b9b9b9;
  padding-bottom: 10px;
}

.feature-box{
  display: flex;
  justify-content: center;
  
}

/* Animation arrow-> */
.arrow-down {
  width: 60px;
  height: 30px;
  position: relative;
  left: 50%;
  bottom: 0px;
  animation: arrow 0.7s .1s infinite ease-out alternate;
  margin-top: 20px;
  display: none;
}

.left {
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
  position: absolute;
  height: 10px;
  width: 30px;
  background: linear-gradient(90deg, #33ccff 0%, #ff99cc 100%);
  transform: rotate(225deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
}

.right {
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
  position: absolute;
  height: 10px;
  width: 30px;
  background: linear-gradient(-90deg, rgb(207, 138, 207), rgb(46, 190, 142));
  transform: rotate(-45deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
}

@keyframes arrow {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}